.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    margin: 80px 170px;
}
.about-title{
    position: relative;
}
.about-title h1{
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 500;
}
.about-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.about-sections{
    display: flex;
    gap: 80px;
}

.about-sections .about-left{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-sections .about-left img{
    border-radius: 25px;
}
.about-sections .about-left::after{
    content: ""; /* Notwendig für Pseudo-Elemente */
    background: var(--linear-color);
    z-index: -2;
    width: 104%;
    height: 104%;
    transform: translateX(-2%) translateY(-2%) scale(0.9);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 25px;
    transition: transform 0.3s ease;
    filter: blur(10px);
}
.about-sections .about-left:hover::after{
    transform: scale(1) translateX(-2%) translateY(-2%);
}

.about-sections .about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.about-sections .about-right .about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-sections .about-right .about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-sections .about-right .about-skills .about-skill{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}
.about-sections .about-right .about-skills .about-skill:hover{
    transform: scale(1.05);
    transition: 0.3;
}
.about-sections .about-right .about-skills .about-skill p{
    min-width: 150px;
}
.about-sections .about-right .about-skills .about-skill hr{
    outline: none;
    border: none;
    height: 8px;
    border-radius: 50px;
    background: var(--linear-color);
}

.about .about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}
.about .about-achievements .about-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.about .about-achievements .about-achievement:hover{
    transform: scale(1.12);
    transition: 0.5s;
}
.about .about-achievements .about-achievement h1{
    font-size: 60px;
    font-weight: 700;
}