.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}
.nav-menu {
  display: flex;
  gap: 20px;
  position: relative;
  font-size: var(--default-font-size);
}

.background {
  border-radius: 8px;
}
.nav-connect {
  padding: 20px 40px;
  border-radius: var(--btn-border-radius);
  background: var(--linear-color);
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}
.nav-connect:hover {
  transform: scale(1.05);
}

.up {
  background-color: bisque;
  color: brown;
  padding: 10px 20px;
  border-radius: 15px;
  position: fixed;
  right: 5px;
  bottom: 10px;
}
