.footer {
  margin: 50px 170px;
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);
}
.footer-top {
  display: flex;
  justify-content: space-between;
}
.footer-top-left p {
  font-size: var(--default-font-size);
  max-width: 400px;
}

.footer-top-right {
  display: flex;
  align-items: center;
  gap: 35px;
}
.footer-top-right .footer-email-input {
  display: flex;
  gap: var(--default-gap);
  padding: 20px 30px;
  border-radius: 50px;
  padding-right: 80px;
  background-color: #32323d;
}
.footer-top-right .footer-email-input input {
  outline: none;
  border: none;
  background: transparent;
  color: rgb(241, 241, 241);
}
.footer-top-right .footer-subscribe {
  box-sizing: border-box;
  border-radius: 50px;
  padding: 20px 40px;
  border: 2px solid white;
}

.footer-bottom {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.footer-bottom-right {
  display: flex;
  gap: var(--default-gap);
}
